@page "/welcome"
@model PaymentSystemPrototype.Pages.Auth.WelcomeRazor

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    @Model.Message
</div>
</body>
</html>