@page
@model PaymentSystemPrototype.Pages.Profiles.ModifyData

@{
    Layout = "Shared/_UserLayout";
}
<h2>Enter New Data:</h2>

<form method="post">
    <label for="FirstName">First Name</label> <br/>
    <input name="FirstName" type="text"/><br/>
    <label for="LastName">Last Name</label> <br/>
    <input name="LastName" type="text"/><br/>
    <label for="email">Email</label> <br/>
    <input name="email" type="email"/><br/>
    <label for="password">Password</label> <br/>
    <input name="password" type="password"/><br/>
    <input type="submit" value="Apply Changes"/><br/>
</form>