@page
@model PaymentSystemPrototype.Pages.AdminPages.InvertBlockStatus

@{
    Layout = "_Layout";
}

@*IncomingMessage is a string that contains "block"(or "unblock") word + email for the person under this action*@
<h2>Are you shure you want to @Model.IncomingMessage?</h2>
<form method="post">
    <button class="button" asp-route-userId="@Model.UserId">Yes</button>
</form>
<form asp-page="UserList" method="get">
    <button class="button">No</button>
</form>